<!DOCTYPE html>
<html>
	<head>
		<title>SFU BOOK CLUB</title>
		<link href="HomePage.css" rel="stylesheet" type="text/css"/>
	</head>
	<body>
		<div class="bk-a">
			<p class = "text-a">SFU BOOK CLUB</p>
			<div class="bk-b">
			    <div class="login_part_blank">
    			    <div class="login_part_blank">
                    	<td>user name<br><br><br></td>
                    	
                    	<td>user password<br><br><br></td>
                    </div>
                    
                    <div class="login_part_sign">
                    	<button>Login</button>
                    </div>
                    
                    <div class="login_part_sign">
                    	<button>Sign Up</button>
      	            </div>
  	            </div>
			</div>
		</div>
	</body>
</html>

