<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<title>SFU Book Club</title>
      <%= stylesheet_link_tag "home.scss" %>
      <div class="title">
          <h1>SFU Book Club</h1>
      </div>

<head>
  <div class="nav">
</head>

<body>
<ul>
  <li><a href="Home.html">Home</a></li>
  <li><a href="buy.html">Buy</a></li>
  <li><a href="sell.html">Sell</a></li>
  <li><a href="about.html">About</a></li>
  <li style="float:right"><a class="active" href="bookclub.html">Logout</a></li>
</ul>
<div class="textbox">
  <h2>Home Page constructing</h2>
</div>
</body>
</div>
</html>
