<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>SFU Book Club</title>
  <%= stylesheet_link_tag "login.scss" %>

  <div class="flex-container">
      <h1>SFU Book Club</h1>
    </flex-container>
  </div>
</head>

<body class="bg">
  <div class="login-page">
  <div class="form">
      <input type="text" placeholder="username"/>
      <input type="password" placeholder="password"/>
      <%= link_to 'LOGIN', "/home/home_page" , class:"button" %>
      <p class="message">Not registered? <%= link_to 'Sign up Here', "/signup/signup_page" %> </p>
    </form>
  </div>
</div>

</body>
</html>
